<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>
          <a href="admin">菜鸟评选</a>
        </h1>
      </div>
      <div class="top-nav">
        <ul>

        </ul>
      </div>
    </header>
    <section>
      <div class="main">
        <!-- 侧导航栏 -->
        <div class="sidebar">
          <div class="sidebar-title">
            管理列表
          </div>
          <div class="sidebar-list">
            <ul>
              <li class="first-li">
                <i></i>
                <a href="#">管理首页</a>
              </li>
              <li>
                <i></i>
                <a href="adminuser">用户管理</a>
              </li>
              <li>
                <i></i>
                <a href="allvotedata">投票数据</a>
              </li>
               
              <li>
                <i></i>
                <a href="adminvote">管理投票</a>
              </li>
              <li>
                <span></span>
                <a class="tubiao" href="adminpersonal">账号管理</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 管理首页部分 -->
        <div class="index-main">
          <div class="index-title">
            管理首页
          </div>
          <ol>
            <li>
              <i></i>
              <a href="admin">管理首页</a>
            </li>
          </ol>
          <div class="index-content">
            <div class="notice">
              平台公告
            </div>
            <div class="notice-content">
              <table>
                <tbody>
                  <tr>
                    <td>暂无信息~</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
