<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    <!-- 头部 -->
    <header>
      <div class="inner w">
        <div class="header-title">
        	 投票吧
        </div>
        <p>创建者登陆</p>
      </div>
    </header>
    <!-- 用户信息部分 -->
    <div class="main w">
      <form class="" action="/login.do" method="GET">
        <input type="text" placeholder="用户名" name = "name">
        <input type="password" placeholder="密码" name = "password">
        <button type="button" name="button" onclick="submit()" value="登录">
          <a href="#">登录</a> 
        </button>
      </form>
    </div>
    <!-- footer部分 -->
    <footer>
      <span>没有账号？<a href="regist">立即注册</a></span>
    </footer>
  </body>
</html>
