<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header>
      <div class="w top-nav">
        <div class="logo">
          <h1>
            <a href="#">
              <img src="images/logo.png" alt="">
            </a>
          </h1>
        </div>
        <div class="nav-contents">
          <ul>
            <li>
              <a href="#">首页</a>
            </li>
            <li>
              <a href="#">精选案例</a>
            </li>
            <li>
              <a href="#">评选服务</a>
            </li>
            <li>
              <a href="#">新闻动态</a>
            </li>
            <li>
              <a href="#">帮助中心</a>
            </li>
            <li>
              <a href="#">关于我们</a>
            </li>
            <li>
              <a class="create-vote" href="index">创建投票</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="introduction">
      <div class="introduction-title">
        <h1>成本低，效果好，专业稳定，走心的微信投票制作平台</h1>
        <p title="微信投票制作平台">解决难题：拓展优质客户、公司企业品牌宣传 、提升销售额</p>
        <p title="微信投票制作平台">高效吸粉、极简主义, 2分钟轻松高效制作一场微信投票活动，强大的技术保障，无任何隐性消费</p>
      </div>
      <div class="introduction-btn">
        <a href="#">
          <span>免费开启投票之旅</span>
        </a>
      </div>
    </div>
  </body>
</html>
